{% extends 'layout.html.twig' %}
{% block title %}Item seul{% endblock %}
{% block content %}

    <h1>Item {{ item.title }}</h1>
    <ul>
        <li>Id : {{ item.id }}</li>
    </ul>
    <a href='/'>Back to list<br></a>

    <a href="/item/edit/{{ item.id }}">Edit</a>
    <a href="/item/delete/{{item.id}}">Supprimer</a>
    <a href="/">Back</a>
{% endblock %}