{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/option.css">
{% endblock %}
{% block content %}
    <h1 class="titleMonster pt-5">{{ noms.nom }}</h1>
    <section class="col">
    <div>
    <a class="titleMonster dead mb-5" href="/players/delete/{{noms.id}}">DEAD<img class="imgkill" src="/assets/images/death.png"></a>
    </div>
    <div><p class="titleMonster">OR</p></div>
    <div>
        <a class="titleMonster alive" href='/players'>ALIVE<img class="imgkill" src="/assets/images/jesus.png"></a>
    </div>
    </section>
{% endblock %}
