{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/option.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

{% endblock %}
{% block content %}

    <section>
<h1 class="titleMonster">Les monstres</h1>
    <ul>
        {% for nom in noms %}



            <form method="post" class="centrage ">
                <input type="hidden" value="{{ nom.id }}" name="id">
                <input type="submit" value="{{ nom.nom }}" name="nom">
            </form>

        {% endfor %}
    </ul>
        <div class="fixed-bottom">
<div class="row">
    <a class="addplayer col" href='/'>Retour à la carte<br></a>
    <a class="addplayer offset-2 col" href='/addPlayer'>Ajouter un monstre</a>
</div>
        </div>
    </section>

{% endblock %}