{% extends 'layout.html.twig' %}
{% block title %}Bonbondex{% endblock %}

{% block content %}


<style>

    #myAnimation {
        width: 650px;
        height: 650px;
        position: absolute;

    }
</style>
<body>

<p>
    <button id="bouton">Click Me</button>
</p>

<div id ="myContainer">
<img  id="photo" src="http://ageheureux.a.g.pic.centerblog.net/o/5c6ntogt_3.gif::Agrandir%20l'image%20de%20ageheureux.centerblog.net" width = "30" height = "30"   />
</div>
<script>
    document.getElementById('bouton')
    src="http://curseursgogo.free.fr/scripthalloween/citrouillemonte.js"
</script>

{% endblock %}