{% extends 'layout.html.twig' %}
{% block title %}Twig index Category{% endblock %}
{% block content %}
    <h1>Les Categories</h1>
    <ul>
        {% for category in categorys %}
            <a href="category/{{ category.id }}"><li>{{ category.category }}</li></a>
        {% endfor %}
    </ul>

    <a href='/'>Back to list<br></a>
    <a href='/'>Go to Item</a>
{% endblock %}