#map{ /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
    height: 73vh;
    margin-left: 0px;
    width: 100vw;
    margin-top: 4vh;
    margin-bottom: 5vh;
    position: relative;
    z-index: 1;
}
#map, .candy img{

}
body{
    background-color: #000;
}
h1,h2, p{
    font-family: 'Eater', cursive;
    color: orange;
    text-align: center;
}
.candy img{
    position: absolute;
    height: 20vh;
    z-index: 999;
    display: block;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);

}

.map_header {
    height: 90px;
}

.adress_button,
.adress_button img {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 8vw;;
    height: 10vh;;
    min-width: 80px;
    min-height: 50px;
    background-color: transparent;
    border: 0;
}

.adress_input {
    display: none;
    min-width: 350px;
    width: 80vw;
    height: 50px;
}
