#map{ /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
    height: 80vh;
    width: 80vw;
    margin-top: 10vh;
    margin-left: 8vw;
    margin-bottom: 5vh;
    position: relative;
    z-index: 1;
}
#map, .candy img{

}
body{
    background-color: #000;
}
h1{
    font-family: 'Eater', cursive;
    color: orange;
    text-align: center;
    font-weight: 900;
}
.candy img{
    position: absolute;
    height: 25vh;
    z-index: 999;
    display: block;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);

}
