.option
{
    color: orange;
    text-align: center;
    font-size: 5vw;
    font-family: 'Eater', cursive;

}
.iconeOption
{
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.mapOption
{
}
.optionImg
{
    height: 12vh;
    width: auto;
}
.optionTitle
{
    padding-top: 3vh;
}
@media screen and (min-width: 640px) {
    .iconeOption {
        padding-right: 10%;
        padding-left: 10%;
    }
}
.centrage
{
    color: orange;
    text-align: center;
    font-size: 5vw;
    font-family: 'Eater', cursive;
    margin-right: 15%;

}

@media screen and (min-width: 640px) {
    .centrage {
        color: orange;
        text-align: center;
        font-size: 3vw;
        font-family: 'Eater', cursive;
        margin-right: 15%;
    }
    .addplayer{

    }
}
.titleMonster
{
    margin-bottom: 10vh;
    font-size: 8vw;
    color: orange;
    font-family: 'Eater', cursive;
    text-align: center;
}
.addmonster
{
    margin-bottom: 5vh;
    margin-top: 15vh;
    font-size: 4vw;
}

.addplayer
{
    color: orange;
    text-align: center;
    font-size: 2vh;
    font-family: 'Eater', cursive;
    position : absolute;
    margin-bottom: 5vh;
    list-style: none;
}
.addplayer:hover{
    text-decoration: none;
    color: orangered;
}
.centration{

    color: orange;
    text-align: center;
    font-size: 5vw;
    font-family: 'Eater', cursive;
    margin-left: 1%;
}
.monster
{
    display: flex;
    align-items: center;
    justify-content: left;

}
.hell
{
    height: 8vh;
    display: flex;
    justify-content: left;
}
.hellCenter
{
    height: 4vh;
text-align: center;
}
.dead:hover
{
    text-decoration: none;
    color: orangered;
}
.alive:hover
{
    text-decoration: none;
    color: orangered;
}
.dead, .alive{
    z-index: 999;
    display: block;
    left: 50%;
    bottom: 0;
}
.titleMonster p
{
    margin-bottom: 20vh;
}
.monsterImg
{
    margin-bottom: 5vh;
    height: 18vh;
    width: auto;
}
.toto{
    margin-top: 5vh;
}
