.option
{
    color: orange;
    text-align: center;
    font-size: 5vw;
    font-family: 'Eater', cursive;

}
.iconeOption
{
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.mapOption
{
}
.optionImg
{
    height: 12vh;
    width: auto;
}
.optionTitle
{
    padding-top: 3vh;
}
@media screen and (min-width: 640px) {
    .iconeOption {
        padding-right: 10%;
        padding-left: 10%;
    }
}
.centrage
{
    color: orange;
    text-align: center;
    font-size: 5vw;
    font-family: 'Eater', cursive;
    margin-right: 15%;

}
.titleMonster
{
    margin-top: 10vh;
    margin-bottom: 5vh;
    font-size: 6vw;
    color: orange;
    font-family: 'Eater', cursive;
    text-align: center;
}
.addmonster
{
    margin-bottom: 25vh;
    margin-top: 15vh;
    font-size: 4vw;
}

.addplayer
{
    color: orange;
    text-align: center;
    font-size: 20px;
    font-family: 'Eater', cursive;
    position : absolute;
    margin-bottom: 15vh;
    list-style: none;


}
.addplayer:hover{
    text-decoration: none;
    color: orangered;
}
.centration{

    color: orange;
    text-align: center;
    font-size: 5vw;
    font-family: 'Eater', cursive;
    margin-left: 1%;
}
.monster
{
    display: flex;
    align-items: center;
    justify-content: left;

}
.hell
{
    height: 8vh;
    display: flex;
    justify-content: left;
}