body
{
    background-image:url("../images/img_bg.png") ;
}
.bonbondex h1
{
    font-size: calc(40px + (106 - 40) * ((100vw - 300px) / (1600 - 300)));
    font-weight: bold;
    color: orangered;
    margin-top: 1em;
    font-family: 'Eater', cursive;
}



.bonbondex .search
{
    box-shadow: 2px 8px 10px orangered;
}

.bonbondex .found img
{
    -webkit-filter: blur(5px);
    position:relative;
    z-index:1;

}

.bonbondex .found  #texte {
    position:absolute;
    z-index:10;
    color: red;
    font-weight: bold;
    font-size: 4em;
    background:transparent;
    left: 0.5em;
    bottom: 3.5em;
}
