body
{
    background-image:url("../images/img_bg.png") ;
}

.bonbondex .card
{
    background-color:rgba(100,100,100,0.8);
    color: #FFFFFF;
}


.bonbondex h1
{
    font-size: calc(40px + (106 - 40) * ((100vw - 300px) / (1600 - 300)));
    font-weight: bold;
    color: orangered;
    margin-top: 1em;
    font-family: 'Nosifer', cursive;
}

.bonbondex h5 {
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 2px 2px #000000;
}

.bonbondex .search {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.bonbondex .search
{

    width: 320px;
    word-wrap: break-word;
}

.bonbondex .found img
{
    position:relative;
    z-index:1;

}

.bonbondex .found  #texte {
    position:absolute;
    z-index:10;
    color: red;
    font-weight: bold;
    font-size: 4em;
    background:transparent;
    left: 0.5em;
    bottom: 3.5em;
    text-shadow: 2px 4px #000000;

}

.bonbondex .found
{
    box-shadow: 2px 8px 10px orangered;
    width: 320px;
    word-wrap: break-word;
}


